@charset "utf-8"; 

/* common ********************************************************************************************************************************************************************************************/
	.con-line { position:relative; width:100%; clear:both; height:51px; background:url("../images/content/line.gif") repeat-x left 25px; }
	.con-line2 { position:relative; width:100%; clear:both; height:31px; background:url("../images/content/line.gif") repeat-x left top; }

	.clear { position:relative; width:100%; clear:both; margin:0; padding:0; visibility:hidden; font-size:0; height:0px; overflow:hidden; }
	.clear30 { position:relative; width:100%; height:30px; clear:both; margin:0; padding:0; visibility:hidden; font-size:0; overflow:hidden; }
	.dn { display:none !important; }
	.db { display:block !important; }
	.fl { float:left !important; }
	.fr { float:right !important; }
	.v-a-t { vertical-align:top !important; }
	.v-a-m { vertical-align:middle !important; }
	.v-a-b { vertical-align:bottom !important; }
	.b-r-n { border-radius: 0; }
	.w100 { width:100% !important; }
	.w100 img { width:100% !important; }
	.w30 { width:30% !important; }
	.w30 img { width:100% !important; }
	.bg-i { background: initial !important; }
	.box-shadow-none { box-shadow: none !important; }

/* Tab style ********************************************************************************************************************************************************************************************/
	.tab_style01 { position:relative; width:100%; clear:both; padding:0; margin:0; }
	.tab_style01 ul { position:relative; width:100%; background:url("../images/sub/tab_line.gif") repeat-x; }
	.tab_style01 ul li { position:relative; width:48%; margin:0 1.8% 2% 0; float:left; font-size:12px; }
	.tab_style01 ul li a { height:34px; display:block; padding-left:20px; }
	.tab_style01 ul li.on { position:relative; width:48%; height:34px; line-height:34px; text-align:left; background:url("../images/sub/tab_on.gif") no-repeat left top; }
	.tab_style01 ul li.on a { color:#0a0817; }
	.tab_style01 ul li.off { position:relative; width:48%; height:34px; line-height:34px; text-align:left; background:url("../images/sub/tab_off.gif") no-repeat left top; }
	.tab_style01 ul li.off a,
	.tab_style01 ul li.off a:visited { color:#d4d4d5; }
	.tab_style01 ul li.off a:hover, 
	.tab_style01 ul li.off a:active { color:#facb01; }

	/* ************************************************************************************************************************************************************************************************/
	/* tablet device **************************************************************************************************************************************************************************************/
	/* ************************************************************************************************************************************************************************************************/
	@media all and (min-width:641px) and (max-width:989px) { 	
		/* Tab style ***************************************************************************************************************************************************************************************/
		.tab_style01 { position:relative; width:100%; clear:both; /*padding-bottom:20px; */ ; }
		.tab_style01 ul { position:relative; width:100%; background:url("../images/sub/tab_line.gif") repeat-x; }
		.tab_style01 ul li { position:relative; width:100%; margin:2% 0; float:none; font-size:12px; }
		.tab_style01 ul li a { height:34px; display:block; padding-left:20px; }
		.tab_style01 ul li.on { position:relative; width:100%; height:34px; line-height:34px; text-align:left; background:url("../images/sub/tab_on.gif") no-repeat left top; }
		.tab_style01 ul li.on a { color:#0a0817; }
		.tab_style01 ul li.off { position:relative; width:100%; height:34px; line-height:34px; text-align:left; background:url("../images/sub/tab_off.gif") no-repeat left top; }
		.tab_style01 ul li.off a,
		.tab_style01 ul li.off a:visited { color:#d4d4d5; }
		.tab_style01 ul li.off a:hover, 
		.tab_style01 ul li.off a:active { color:#facb01; }
		}

	/* ************************************************************************************************************************************************************************************************/
	/* mobile device *************************************************************************************************************************************************************************************/
	/* ************************************************************************************************************************************************************************************************/
	@media all and (min-width:320px) and (max-width:640px) { 
		/* Tab style ***************************************************************************************************************************************************************************************/
		.tab_style01 { position:relative; width:100%; clear:both; /*padding-bottom:20px; */ ; }
		.tab_style01 ul { position:relative; width:100%; background:url("../images/sub/tab_line.gif") repeat-x; }
		.tab_style01 ul li { position:relative; width:100%; margin:2% 0; float:none; font-size:12px; }
		.tab_style01 ul li a { height:34px; display:block; padding-left:20px; }
		.tab_style01 ul li.on { position:relative; width:100%; height:34px; line-height:34px; text-align:left; background:url("../images/sub/tab_on.gif") no-repeat left top; }
		.tab_style01 ul li.on a { color:#0a0817; }
		.tab_style01 ul li.off { position:relative; width:100%; height:34px; line-height:34px; text-align:left; background:url("../images/sub/tab_off.gif") no-repeat left top; }
		.tab_style01 ul li.off a,
		.tab_style01 ul li.off a:visited { color:#d4d4d5; }
		.tab_style01 ul li.off a:hover, 
		.tab_style01 ul li.off a:active { color:#facb01; }
		}

/* icon **********************************************************************************************************************************************************************************************/
.icon01 { position:relative; clear:both; min-height:36px; line-height:36px; padding:0px 0px 0px 30px; font-size:24px; color:#333; font-weight:bold; background:#fff url("../images/sub/icon01.png") no-repeat left 5px; font-family:"Nanumsquare"; }
.icon02 { position:relative; clear:both; min-height:24px; line-height:24px; padding:0px 0px 0px 30px; font-size:22px; color:#333; font-weight:bold; background:url("../images/sub/icon02.png") no-repeat 3px 1px; font-family:"Nanumsquare"; }
.icon03 { position:relative; clear:both; min-height:24px; line-height:24px; padding:0px 0px 0px 30px; font-size:18px; color:#333; font-weight:bold; background:url("../images/sub/icon03.png") no-repeat 9px 6px; font-family:"Nanumsquare"; }

ul.icon_ul04 { position:relative; clear:both; margin:5px 0px 10px 0px; }
	ul.icon_ul04 li { line-height:24px; padding:5px 0px 5px 20px; font-size:16px; color:#666; background:url("../images/sub/icon04.png") no-repeat 3px 12px; }

ul.icon_ul05 { position:relative; clear:both; margin:5px 0px 10px 0px; }
	ul.icon_ul05 li { line-height:24px; padding:5px 0px 5px 20px; font-size:16px; color:#666; background:url("../images/sub/icon05.png") no-repeat 4px 14px; }

ul.icon_ul06 { position:relative; clear:both; margin:5px 0px 10px 0px; }
	ul.icon_ul06 li { line-height:24px; padding:5px 0px 5px 20px; font-size:16px; color:#666; background:url("../images/sub/icon06.png") no-repeat 4px 15px; }

	/* tablet */
	@media all and (min-width:641px) and (max-width:989px) { 
	.icon01 { position:relative; clear:both; min-height:36px; line-height:36px; padding:0px 0px 0px 30px; font-size:24px; color:#333; font-weight:bold; background:#fff url("../images/sub/icon01.png") no-repeat left 5px; font-family:"Nanumsquare"; }
	.icon02 { position:relative; clear:both; min-height:30px; line-height:30px; padding:0px 0px 0px 30px; font-size:18px; color:#333; font-weight:bold; background:url("../images/sub/icon02.png") no-repeat 3px 1px; font-family:"Nanumsquare"; }
	.icon03 { position:relative; clear:both; min-height:30px; line-height:30px; padding:0px 0px 0px 30px; font-size:18px; color:#333; font-weight:bold; background:url("../images/sub/icon03.png") no-repeat 9px 6px; font-family:"Nanumsquare"; }

	ul.icon_ul04 { position:relative; clear:both; margin:5px 0px 10px 0px; }
		ul.icon_ul04 li { line-height:30px; padding:5px 0px 5px 20px; font-size:15px; color:#666; background:url("../images/sub/icon04.png") no-repeat 3px 15px; }

	ul.icon_ul05 { position:relative; clear:both; margin:5px 0px 10px 0px; }
		ul.icon_ul05 li { line-height:30px; padding:5px 0px 5px 20px; font-size:15px; color:#666; background:url("../images/sub/icon05.png") no-repeat 4px 17px; }

	ul.icon_ul06 { position:relative; clear:both; margin:5px 0px 10px 0px; }
		ul.icon_ul06 li { line-height:24px; padding:5px 0px 5px 20px; font-size:15px; color:#666; background:url("../images/sub/icon06.png") no-repeat 4px 15px; }
	}

	/* mobile */
	@media all and (min-width:320px) and (max-width:640px) { 
	.icon01 { position:relative; clear:both; min-height:36px; line-height:36px; padding:0px 0px 0px 30px; font-size:24px; color:#333; font-weight:bold; background:#fff url("../images/sub/icon01.png") no-repeat left 5px; font-family:"Nanumsquare"; }
	.icon02 { position:relative; clear:both; min-height:24px; line-height:24px; padding:0px 0px 0px 30px; font-size:18px; color:#333; font-weight:bold; background:url("../images/sub/icon02.png") no-repeat 3px 1px; font-family:"Nanumsquare"; }
	.icon03 { position:relative; clear:both; min-height:24px; line-height:24px; padding:0px 0px 0px 30px; font-size:18px; color:#333; font-weight:bold; background:url("../images/sub/icon03.png") no-repeat 9px 6px; font-family:"Nanumsquare"; }

	ul.icon_ul04 { position:relative; clear:both; margin:5px 0px 10px 0px; }
		ul.icon_ul04 li { line-height:30px; padding:5px 0px 5px 20px; font-size:14px; color:#666; background:url("../images/sub/icon04.png") no-repeat 3px 15px; }

	ul.icon_ul05 { position:relative; clear:both; margin:5px 0px 10px 0px; }
		ul.icon_ul05 li { line-height:30px; padding:5px 0px 5px 20px; font-size:14px; color:#666; background:url("../images/sub/icon05.png") no-repeat 4px 17px; }

	ul.icon_ul06 { position:relative; clear:both; margin:5px 0px 10px 0px; }
		ul.icon_ul06 li { line-height:30px; padding:5px 0px 5px 20px; font-size:14px; color:#666; background:url("../images/sub/icon06.png") no-repeat 4px 15px; }
	 }

/* Font ***********************************************************************************************************************************************************************************************/
	.fw-b { font-weight:bold; }
	.fw-n { font-weight:normal; }
	.fd-under { text-decoration:underline; }
	.fs-ita { font-style:italic; }
	.bold { font-weight: bold; }

	.t-c { text-align:center; }
	.t-l { text-align:left; }
	.t-r { text-align:right; }

	.ls-005 { letter-spacing:-0.5px; }
	.ls-001 { letter-spacing:-1px; }
	.ls-01 { letter-spacing:1px; }
	.ls-02 { letter-spacing:2px; }
	.ls-03 { letter-spacing:3px; }
	.ls-05 { letter-spacing:5px; }
	.ls-10 { letter-spacing:10px; }

	/* Basic Color */
	.fc-fff { color:#fff; }
	.fc-000 { color:#000; }
	.fc-111 { color:#111; }
	.fc-222 { color:#222; }
	.fc-333 { color:#333; }
	.fc-444 { color:#444; }
	.fc-555 { color:#555; }
	.fc-666 { color:#666; }
	.fc-777 { color:#777; }
	.fc-888 { color:#888; }
	.fc-999 { color:#999; }
	.fc-ccc { color:#ccc; }

	/* Web Color */
	.fc-green { color:#dafc00; }/* 초록색 */
	.fc-blue { color:#2549a1; }/* 파란색 */
	.fc-blue02 { color:#5d70b2; }/* 파란색 */
	.fc-red { color:#e7302a; }/* 빨간색 */

	/* Font Family */
	.ff-ns { font-family:'Nanumsquare'; }
	.ff-ng { font-family:'NanumGothic'; }
	.ff-nm { font-family:'NanumMyeongjo'; }
	.ff-nb { font-family:'NanumBrushscript'; }
	.ff-np { font-family:'NanumPenscript'; }
	.ff-da { font-family:'Daum Regular'; }
	.ff-gdb { font-family:'GodoB'; }
	.ff-gdm { font-family:'GodoM'; }
	.ff-kt-body-l { font-family:'SangSangBodyL'; }
	.ff-kt-body-m { font-family:'SangSangBodyM'; }
	.ff-kt-title-m { font-family:'SangSangTitleM'; }
	.ff-kt-title-b { font-family:'SangSangTitleB'; }

/* Font Size *******************************************************************************************************************************************************************************************/
	.fs-7 { font-size:7px !important; }
	.fs-11 { font-size:11px !important; }
	.fs-12 { font-size:12px !important; }
	.fs-13 { font-size:13px !important; }
	.fs-14 { font-size:14px !important; }
	.fs-15 { font-size:15px !important; }
	.fs-16 { font-size:16px !important; }
	.fs-17 { font-size:17px !important; }
	.fs-18 { font-size:18px !important; }
	.fs-20 { font-size:20px !important; }
	.fs-22 { font-size:22px !important; }
	.fs-24 { font-size:24px !important; }
	.fs-26 { font-size:26px !important; }
	.fs-28 { font-size:28px !important; }
	.fs-30 { font-size:30px !important; }
	.fs-32 { font-size:32px !important; }
	.fs-34 { font-size:34px !important; }
	.fs-36 { font-size:36px !important; }
	.fs-38 { font-size:38px !important; }
	.fs-40 { font-size:40px !important; letter-spacing:-1px; }
	.fs-42 { font-size:42px !important; letter-spacing:-1px; }
	.fs-44 { font-size:44px !important; letter-spacing:-1px; }
	.fs-46 { font-size:45px !important; letter-spacing:-1px; }
	.fs-48 { font-size:48px !important; letter-spacing:-1px; }
	.fs-50 { font-size:50px !important; letter-spacing:-2px; }
	.fs-52 { font-size:52px !important; letter-spacing:-2px; }
	.fs-54 { font-size:54px !important; letter-spacing:-2px; }
	.fs-56 { font-size:56px !important; letter-spacing:-2px; }
	.fs-58 { font-size:58px !important; letter-spacing:-2px; }
	.fs-60 { font-size:60px !important; letter-spacing:-2px; }
	.fs-62 { font-size:62px !important; letter-spacing:-2px; }
	.fs-64 { font-size:64px !important; letter-spacing:-2px; }
	.fs-66 { font-size:66px !important; letter-spacing:-2px; }
	.fs-68 { font-size:68px !important; letter-spacing:-2px; }
	.fs-70 { font-size:70px !important; letter-spacing:-2px; }
	.fs-72 { font-size:72px !important; letter-spacing:-2px; }
	.fs-74 { font-size:74px !important; letter-spacing:-2px; }
	.fs-76 { font-size:76px !important; letter-spacing:-2px; }
	.fs-78 { font-size:78px !important; letter-spacing:-2px; }
	.fs-80 { font-size:80px !important; letter-spacing:-2px; }
	.fs-86 { font-size:86px !important; letter-spacing:-2px; }

/* Line Height *****************************************************************************************************************************************************************************************/
	.lh-10 { line-height:10px; }
	.lh-12 { line-height:12px; }
	.lh-14 { line-height:14px; }
	.lh-16 { line-height:16px; }
	.lh-18 { line-height:18px; }
	.lh-20 { line-height:20px; }
	.lh-22 { line-height:22px; }
	.lh-24 { line-height:24px; }
	.lh-26 { line-height:26px; }
	.lh-28 { line-height:28px; }
	.lh-30 { line-height:30px; }
	.lh-34 { line-height:34px; }
	.lh-36 { line-height:36px; }
	.lh-38 { line-height:38px; }
	.lh-40 { line-height:40px; }
	.lh-42 { line-height:42px; }
	.lh-44 { line-height:44px; }
	.lh-46 { line-height:46px; }
	.lh-48 { line-height:48px; }
	.lh-50 { line-height:50px; }
	.lh-52 { line-height:52px; }
	.lh-54 { line-height:54px; }
	.lh-56 { line-height:56px; }
	.lh-58 { line-height:58px; }
	.lh-60 { line-height:60px; }
	.lh-62 { line-height:62px; }
	.lh-64 { line-height:64px; }
	.lh-66 { line-height:66px; }
	.lh-80 { line-height:80px; }

/* Input, Textarea **************************************************************************************************************************************************************************************/
	.input-style { width:50%; height:24px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:18px; }
	.input-w95 { width:95%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w90 { width:90%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w85 { width:85%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w80 { width:80%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w75 { width:75%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w70 { width:70%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w65 { width:65%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w60 { width:60%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w55 { width:55%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w50 { width:50%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w45 { width:45%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w40 { width:40%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w35 { width:35%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w30 { width:30%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w25 { width:25%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w20 { width:20%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w15 { width:15%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w10 { width:10%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-w5 { width:5%; border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:12px; margin:1px 0px; line-height:26px; }
	.input-basic { border:1px solid #e5e5e5; height:28px; padding:0 5px; font-size:11px; margin:1px 0px; line-height:26px; }

	.textarea-w95 { width:95%; border:1px solid #e5e5e5; height:300px; padding:20px; margin:0 auto; font-size:12px; line-height:26px; }
	.textarea-w90 { width:90%; border:1px solid #e5e5e5; height:300px; padding:20px; margin:0 auto; font-size:12px; line-height:26px; }
	.textarea-w95-h100 { width:95%; border:1px solid #e5e5e5; height:100px; padding:20px; margin:0 auto; font-size:12px; line-height:26px; }

	@media all and (min-width:320px) and (max-width:989px) { 
	.textarea-w95 { width:89%; border:1px solid #e5e5e5; height:300px; padding:20px 5%; margin:0 auto; font-size:12px; line-height:26px; }
	.textarea-w90 { width:89%; border:1px solid #e5e5e5; height:300px; padding:20px 5%; margin:0 auto; font-size:12px; line-height:26px; }
	.textarea-w95-h100 { width:89%; border:1px solid #e5e5e5; height:100px; padding:20px 5%; margin:0 auto; font-size:12px; line-height:26px; }

	}
/* Padding *******************************************************************************************************************************************************************************************/
	/* top */
	.pt-1 { padding-top:1px !important; }
	.pt-2 { padding-top:2px !important; }
	.pt-3 { padding-top:3px !important; }
	.pt-4 { padding-top:4px !important; }
	.pt-5 { padding-top:5px !important; }
	.pt-6 { padding-top:6px !important; }
	.pt-7 { padding-top:7px !important; }
	.pt-8 { padding-top:8px !important; }
	.pt-9 { padding-top:9px !important; }
	.pt-10 { padding-top:10px !important; }
	.pt-15 { padding-top:15px !important; }
	.pt-20 { padding-top:20px !important; }
	.pt-25 { padding-top:25px !important; }
	.pt-30 { padding-top:30px !important; }
	.pt-35 { padding-top:35px !important; }
	.pt-40 { padding-top:40px !important; }
	.pt-45 { padding-top:45px !important; }
	.pt-50 { padding-top:50px !important; }
	.pt-55 { padding-top:55px !important; }
	.pt-60 { padding-top:60px !important; }
	.pt-65 { padding-top:65px !important; }
	.pt-70 { padding-top:70px !important; }
	.pt-75 { padding-top:75px !important; }
	.pt-80 { padding-top:80px !important; }
	.pt-85 { padding-top:85px !important; }
	.pt-90 { padding-top:90px !important; }
	.pt-95 { padding-top:95px !important; }
	.pt-100 { padding-top:100px !important; }

	/* right */
	.pr-1 { padding-right:1px !important; }
	.pr-2 { padding-right:2px !important; }
	.pr-3 { padding-right:3px !important; }
	.pr-4 { padding-right:4px !important; }
	.pr-5 { padding-right:5px !important; }
	.pr-6 { padding-right:6px !important; }
	.pr-7 { padding-right:7px !important; }
	.pr-8 { padding-right:8px !important; }
	.pr-9 { padding-right:9px !important; }
	.pr-10 { padding-right:10px !important; }
	.pr-15 { padding-right:15px !important; }
	.pr-20 { padding-right:20px !important; }
	.pr-25 { padding-right:25px !important; }
	.pr-30 { padding-right:30px !important; }
	.pr-35 { padding-right:35px !important; }
	.pr-40 { padding-right:40px !important; }
	.pr-45 { padding-right:45px !important; }
	.pr-50 { padding-right:50px !important; }
	.pr-55 { padding-right:55px !important; }
	.pr-60 { padding-right:60px !important; }
	.pr-65 { padding-right:65px !important; }
	.pr-70 { padding-right:70px !important; }
	.pr-75 { padding-right:75px !important; }
	.pr-80 { padding-right:80px !important; }
	.pr-85 { padding-right:85px !important; }
	.pr-90 { padding-right:90px !important; }
	.pr-95 { padding-right:95px !important; }
	.pr-100 { padding-right:100px !important; }

	/* bottom */
	.pb-1 { padding-bottom:1px !important; }
	.pb-2 { padding-bottom:2px !important; }
	.pb-3 { padding-bottom:3px !important; }
	.pb-4 { padding-bottom:4px !important; }
	.pb-5 { padding-bottom:5px !important; }
	.pb-6 { padding-bottom:6px !important; }
	.pb-7 { padding-bottom:7px !important; }
	.pb-8 { padding-bottom:8px !important; }
	.pb-9 { padding-bottom:9px !important; }
	.pb-10 { padding-bottom:10px !important; }
	.pb-15 { padding-bottom:15px !important; }
	.pb-20 { padding-bottom:20px !important; }
	.pb-25 { padding-bottom:25px !important; }
	.pb-30 { padding-bottom:30px !important; }
	.pb-35 { padding-bottom:35px !important; }
	.pb-40 { padding-bottom:40px !important; }
	.pb-45 { padding-bottom:45px !important; }
	.pb-50 { padding-bottom:50px !important; }
	.pb-55 { padding-bottom:55px !important; }
	.pb-60 { padding-bottom:60px !important; }
	.pb-65 { padding-bottom:65px !important; }
	.pb-70 { padding-bottom:70px !important; }
	.pb-75 { padding-bottom:75px !important; }
	.pb-80 { padding-bottom:80px !important; }
	.pb-85 { padding-bottom:85px !important; }
	.pb-90 { padding-bottom:90px !important; }
	.pb-95 { padding-bottom:95px !important; }
	.pb-100 { padding-bottom:100px !important; }

	/* left */
	.pl-1 { padding-left:1px !important; }
	.pl-2 { padding-left:2px !important; }
	.pl-3 { padding-left:3px !important; }
	.pl-4 { padding-left:4px !important; }
	.pl-5 { padding-left:5px !important; }
	.pl-6 { padding-left:6px !important; }
	.pl-7 { padding-left:7px !important; }
	.pl-8 { padding-left:8px !important; }
	.pl-9 { padding-left:9px !important; }
	.pl-10 { padding-left:5px !important; }
	.pl-10 { padding-left:10px !important; }
	.pl-15 { padding-left:15px !important; }
	.pl-17 { padding-left:17px !important; }
	.pl-20 { padding-left:20px !important; }
	.pl-25 { padding-left:25px !important; }
	.pl-30 { padding-left:30px !important; }
	.pl-35 { padding-left:35px !important; }
	.pl-40 { padding-left:40px !important; }
	.pl-45 { padding-left:45px !important; }
	.pl-50 { padding-left:50px !important; }
	.pl-55 { padding-left:55px !important; }
	.pl-60 { padding-left:60px !important; }
	.pl-65 { padding-left:65px !important; }
	.pl-70 { padding-left:70px !important; }
	.pl-75 { padding-left:75px !important; }
	.pl-80 { padding-left:80px !important; }
	.pl-85 { padding-left:85px !important; }
	.pl-90 { padding-left:90px !important; }
	.pl-95 { padding-left:95px !important; }
	.pl-100 { padding-left:100px !important; }

/* Margin ********************************************************************************************************************************************************************************************/
	/* top */
	.mt-1 { margin-top:1px !important; }
	.mt-2 { margin-top:2px !important; }
	.mt-3 { margin-top:3px !important; }
	.mt-4 { margin-top:4px !important; }
	.mt-5 { margin-top:5px !important; }
	.mt-6 { margin-top:6px !important; }
	.mt-7 { margin-top:7px !important; }
	.mt-8 { margin-top:8px !important; }
	.mt-9 { margin-top:9px !important; }
	.mt-10 { margin-top:10px !important; }
	.mt-15 { margin-top:15px !important; }
	.mt-20 { margin-top:20px !important; }
	.mt-25 { margin-top:25px !important; }
	.mt-30 { margin-top:30px !important; }
	.mt-35 { margin-top:35px !important; }
	.mt-40 { margin-top:40px !important; }
	.mt-45 { margin-top:45px !important; }
	.mt-50 { margin-top:50px !important; }
	.mt-55 { margin-top:55px !important; }
	.mt-60 { margin-top:60px !important; }
	.mt-65 { margin-top:65px !important; }
	.mt-70 { margin-top:70px !important; }
	.mt-75 { margin-top:75px !important; }
	.mt-80 { margin-top:80px !important; }
	.mt-85 { margin-top:85px !important; }
	.mt-90 { margin-top:90px !important; }
	.mt-95 { margin-top:95px !important; }
	.mt-100 { margin-top:100px !important; }

	/* right */
	.mr-1 { margin-right:1px !important; }
	.mr-2 { margin-right:2px !important; }
	.mr-3 { margin-right:3px !important; }
	.mr-4 { margin-right:4px !important; }
	.mr-5 { margin-right:5px !important; }
	.mr-6 { margin-right:6px !important; }
	.mr-7 { margin-right:7px !important; }
	.mr-8 { margin-right:8px !important; }
	.mr-9 { margin-right:9px !important; }
	.mr-10 { margin-right:10px !important; }
	.mr-15 { margin-right:15px !important; }
	.mr-20 { margin-right:20px !important; }
	.mr-25 { margin-right:25px !important; }
	.mr-30 { margin-right:30px !important; }
	.mr-35 { margin-right:35px !important; }
	.mr-40 { margin-right:40px !important; }
	.mr-45 { margin-right:45px !important; }
	.mr-50 { margin-right:50px !important; }
	.mr-55 { margin-right:55px !important; }
	.mr-60 { margin-right:60px !important; }
	.mr-65 { margin-right:65px !important; }
	.mr-70 { margin-right:70px !important; }
	.mr-75 { margin-right:75px !important; }
	.mr-80 { margin-right:80px !important; }
	.mr-85 { margin-right:85px !important; }
	.mr-90 { margin-right:90px !important; }
	.mr-95 { margin-right:95px !important; }
	.mr-100 { margin-right:100px !important; }

	/* bottom */
	.mb-1 { margin-bottom:1px !important; }
	.mb-2 { margin-bottom:2px !important; }
	.mb-3 { margin-bottom:3px !important; }
	.mb-4 { margin-bottom:4px !important; }
	.mb-5 { margin-bottom:5px !important; }
	.mb-6 { margin-bottom:6px !important; }
	.mb-7 { margin-bottom:7px !important; }
	.mb-8 { margin-bottom:8px !important; }
	.mb-9 { margin-bottom:9px !important; }
	.mb-10 { margin-bottom:10px !important; }
	.mb-15 { margin-bottom:15px !important; }
	.mb-20 { margin-bottom:20px !important; }
	.mb-25 { margin-bottom:25px !important; }
	.mb-30 { margin-bottom:30px !important; }
	.mb-35 { margin-bottom:35px !important; }
	.mb-40 { margin-bottom:40px !important; }
	.mb-45 { margin-bottom:45px !important; }
	.mb-50 { margin-bottom:50px !important; }
	.mb-55 { margin-bottom:55px !important; }
	.mb-60 { margin-bottom:60px !important; }
	.mb-65 { margin-bottom:65px !important; }
	.mb-70 { margin-bottom:70px !important; }
	.mb-75 { margin-bottom:75px !important; }
	.mb-80 { margin-bottom:80px !important; }
	.mb-85 { margin-bottom:85px !important; }
	.mb-90 { margin-bottom:90px !important; }
	.mb-95 { margin-bottom:95px !important; }
	.mb-100 { margin-bottom:100px !important; }

	/* left */
	.ml-1 { margin-left:1px !important; }
	.ml-2 { margin-left:2px !important; }
	.ml-3 { margin-left:3px !important; }
	.ml-4 { margin-left:4px !important; }
	.ml-5 { margin-left:5px !important; }
	.ml-6 { margin-left:6px !important; }
	.ml-7 { margin-left:7px !important; }
	.ml-8 { margin-left:8px !important; }
	.ml-9 { margin-left:9px !important; }
	.ml-10 { margin-left:10px !important; }
	.ml-15 { margin-left:15px !important; }
	.ml-17 { margin-left:17px !important; }
	.ml-20 { margin-left:20px !important; }
	.ml-25 { margin-left:25px !important; }
	.ml-30 { margin-left:30px !important; }
	.ml-35 { margin-left:35px !important; }
	.ml-40 { margin-left:40px !important; }
	.ml-45 { margin-left:45px !important; }
	.ml-50 { margin-left:50px !important; }
	.ml-55 { margin-left:55px !important; }
	.ml-60 { margin-left:60px !important; }
	.ml-65 { margin-left:65px !important; }
	.ml-70 { margin-left:70px !important; }
	.ml-75 { margin-left:75px !important; }
	.ml-80 { margin-left:80px !important; }
	.ml-85 { margin-left:85px !important; }
	.ml-90 { margin-left:90px !important; }
	.ml-95 { margin-left:95px !important; }
	.ml-100 { margin-left:100px !important; }