@charset "utf-8"; 


#m_allWrap { position:relative; width:100%; font-size:12px; color:#666; overflow:hidden; clear:both; }
#m_allWrap #m_con_w { position:relative; width:100%; min-width:1280px; padding:0px; margin:0px; overflow:hidden; clear:both; }

/* Visual *********************************************************************************************************************************************************************************************/
#visual_w { position:relative; top:0px; left:0px; width:100%; min-width:1280px; height:880px; overflow:hidden; clear:both; }
#visual_w h3 { position:absolute; top:220px; left:50%; margin-left:-40%; color:#fff; text-shadow:1px 1px 0px #333; font-family:"Nanumsquare"; }
#visual_w h3 .txt01 { font-size:48px; font-weight:100; line-height:80px; }
#visual_w h3 .txt02 { font-size:30px; font-weight:100; }
#visual_w > .visual_w_pc {position: relative; width: 100%; height: 100%;}
#visual_w > .visual_w_pc > ul {position: relative; height: 880px; width: 300vw;}
#visual_w > .visual_w_pc > ul > li { position: relative; float:left; top:0px; left:0px;; width:100vw; height:880px; background:url("../images/main/visual01.png") no-repeat center top;}
#visual_w .visual_w_tm { display:none; }


.circle_w  { position:absolute; top:0px; left:50%; width:1400px; height:880px; margin-left:-700px; background:url("../images/main/mvc_bg.png") no-repeat center bottom; }
.circle_w .c01 { position:absolute; top:548px; left:50%; margin-left:-657px; }
.circle_w .c01 .circle div { position:absolute; top:-45px; left:-45px; width:180px; height:180px; border: 3px solid #fff; border-radius:100%; display:block; z-index:1; }
.circle_w .c01 .icon > img { position:absolute; top:0px; left:0px; z-index:3;  }
.circle_w .c02 { position:absolute; top:600px; left:50%; margin-left:-402px; }
.circle_w .c02 .circle div { position:absolute; top:-45px; left:-45px; width:150px; height:150px; border: 3px solid #fff; border-radius:100%; display:block; z-index:1; }
.circle_w .c02 .icon > img { position:absolute; top:0px; left:0px; z-index:3;  }
.circle_w .c03 { position:absolute; top:520px; left:50%; margin-left:-132px; }
.circle_w .c03 .circle div { position:absolute; top:-39px; left:-39px; width:150px; height:150px; border: 3px solid #fff; border-radius:100%; display:block; z-index:1; }
.circle_w .c03 .icon > img { position:absolute; top:0px; left:0px; z-index:3;  }
.circle_w .c04 { position:absolute; top:430px; left:50%; margin-left:162px; }
.circle_w .c04 .circle div { position:absolute; top:-38px; left:-38px; width:150px; height:150px; border: 3px solid #fff; border-radius:100%; display:block; z-index:1; }
.circle_w .c04 .icon > img { position:absolute; top:0px; left:0px; z-index:3;  }
.circle_w .c05 { position:absolute; top:560px; left:50%; margin-left:420px; }
.circle_w .c05 .circle div { position:absolute; top:-32px; left:-32px; width:120px; height:120px; border: 3px solid #fff; border-radius:100%; display:block; z-index:1; }
.circle_w .c05 .icon > img { position:absolute; top:0px; left:0px; z-index:3;  }
.circle_w .c06 { position:absolute; top:290px; left:50%; margin-left:575px; }
.circle_w .c06 .circle div { position:absolute; top:-40px; left:-40px; width:150px; height:150px; border: 3px solid #fff; border-radius:100%; display:block; z-index:1; }
.circle_w .c06 .icon > img { position:absolute; top:0px; left:0px; z-index:3;  }

.circle_w .circle_one { animation :circle 4s infinite linear; -webkit-animation:circle 4s infinite linear; }
.circle_w .circle_two { animation :circle 3s infinite linear; -webkit-animation:circle 3s infinite linear;}
.circle_w .circle_three { animation :circle 2s infinite linear; -webkit-animation:circle 2s infinite linear;}
@-webkit-keyframes circle { 
    from { -webkit-transform:scale(0.3); opacity:0.7; }
    to { -webkit-transform:scale(1); opacity:0; }
}
@keyframes circle { 
 from { transform:scale(0.3); opacity:0.7; }
 to { transform:scale(1); opacity:0; }
 }

/* Content *******************************************************************************************************************************************************************************************/
.con_w { position:relative; width:100%; overflow:hidden; clear:both; }
.con_w .con01_w { position:relative; width:1305px; margin:0 auto; overflow:hidden; clear:both; }
.con_w .con01_w ul { position:relative; width:100%; height:250px; margin:70px auto; overflow:hidden; clear:both; }
.con_w .con01_w ul li { position:relative; margin:0px 12px 0px 13px; float:left; }
.con_w .con01_w ul li span.txt { position:absolute; bottom:20px; left:20px; color:#fff; font-size:18px; font-family:"Nanumsquare"; }

.con_w .con02_w { position:relative; width:1280px; margin:0 auto; overflow:hidden; clear:both; }
.con_w .con02_w .mc01 { position:relative; width:330px; height:330px; margin-right:40px; overflow:hidden; float:left; border-radius:180px; background-color: #446ef6; }
.con_w .con02_w .mc01 .tit { position:relative; margin-top:50px; left:0px; text-align:center; }
.con_w .con02_w .mc01 .tit a { color:#fff; font-size:30px; font-family:"Nanumsquare"; }
.con_w .con02_w .mc01 .txt { position:relative; width:90%; margin:30px 5% 0px 5%; left:0px; text-align:center; }
.con_w .con02_w .mc01 .txt a { color:#fff; font-size:18px; line-height:28px; font-family:"Nanumsquare"; }
.con_w .con02_w .mc01 .btn { position:relative; width:60%; height:45px; margin:30px 20% 0px 20%; left:0px; text-align:center; border:2px solid #fff; }
.con_w .con02_w .mc01 .btn a { color:#fff; font-size:18px; line-height:45px; font-family:"Nanumsquare"; }

.con_w .con02_w .mc02 { position:relative; width:540px; height:330px; margin-right:40px; overflow:hidden; float:left; }
.con_w .con02_w .mc02 .tit { position:relative; width:100%; height:70px; text-align:center; font-weight:bold; color:#333; font-size:30px; line-height:50px; font-family:"Nanumsquare"; border-bottom:1px solid #e5e5e5; overflow:hidden; clear:both; }
.con_w .con02_w .mc02 ul { position:relative; width:90%; margin:20px 5%; overflow:hidden; clear:both; }
.con_w .con02_w .mc02 ul li { position:relative; float:left; width:98%; padding-left:2%; background:url("../images/main/mc02_bull.png") no-repeat left 15px; }
.con_w .con02_w .mc02 ul li a { width:80%; float:left; text-align:left; font-size:15px; font-weight:bold; line-height:34px; color:#555; }
.con_w .con02_w .mc02 ul li a:hover { text-decoration:underline; }
.con_w .con02_w .mc02 ul li span { width:20%; float:left; text-align:right; font-size:13px; font-weight:bold; line-height:34px; color:#aaa; }
.con_w .con02_w .mc02 .more { position:absolute; bottom:20px; left:50%; margin-left:-40px; }
.con_w .con02_w .mc02 .more span.txt { font-size:14px; padding-bottom:10px; height:30px; font-weight:bold; color:#aaa; line-height:30px; border-bottom:1px solid #ccc; }

.con_w .con02_w .mc03 { position:relative; width:330px; height:330px; overflow:hidden; float:left; border-radius:180px; background-color: #446ef6; }
.con_w .con02_w .mc03 .tit { position:relative; margin-top:50px; left:0px; text-align:center; }
.con_w .con02_w .mc03 .tit a { color:#fff; font-size:30px; font-family:"Nanumsquare"; }
.con_w .con02_w .mc03 .btn { position:absolute; width:60px; height:60px; top:50%; left:50%; margin:-30px 0px 0px -30px; }

.con_w .con03_w { position:relative; width:100%; height:860px; margin:90px 0px 0px 0px; overflow:hidden; clear:both; background-color:#f5f5f5; }
.con_w .con03_w .tit { position:relative; width:100%; margin-top:80px; text-align:center; color:#333; font-size:36px; line-height:36px; font-family:"Nanumsquare"; }
.con_w .con03_w .tit span.t01 { text-align:center; color:#666; font-size:18px; font-family:"Nanumsquare"; }
.con_w .con03_w .btn_w { margin:0px 0px 20px 0px; text-align:center; clear:both; }
.con_w .con03_w .btn_w a, .btn_w em, .btn_w img, .btn_w span { display:inline-block; vertical-align:top; }
.con_w .con03_w .btn_w span { margin:0px 10px; }
.con_w .con03_w .btn_w span > a { display:block; }
.con_w .con03_w .btn01 { position:absolute; top:420px; left:50%; margin-left:-620px; z-index:2; }
.con_w .con03_w .btn02 { position:absolute; top:420px; right:50%; margin-right:-620px; z-index:2; }
.con_w .con03_w > ul.list { position:relative; width:1280px; height:540px; margin:70px auto 0px auto; overflow:hidden; clear:both; }
.con_w .con03_w > ul.list:after {display:block; content:""; clear:both;}
.con_w .con03_w > ul.list > div.bottom_rolling_wrap {position:relative; left:-1280px; width:6400px;height:460px;}
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li { position:relative; width:1190px; height:460px; margin:0px 45px 80px 45px; float:left; box-shadow:5px 5px 20px rgba(0,0,0,0.2);  }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w { position:absolute; top:100px; left:100px; width:300px; height:420px; background-color:#fff; box-shadow:5px 5px 20px rgba(0,0,0,0.2);  }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > .t_tit { position:relative; font-weight:bold; color:#333; font-size:24px; font-family:"Nanumsquare"; margin-top:50px; padding-left:60px; background:url("../images/main/con03_bull.png") no-repeat left 9px;  } 
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > ul.t_txt { position:relative; width:240px; padding-left:60px; margin-top:30px; overflow:hidden; clear:both; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > ul.t_txt > li { font-weight:bold; color:#666; font-size:14px; line-height:28px; clear:both; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > ul.t_btn { position:relative; padding-left:60px; margin-top:20px; overflow:hidden; clear:both; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > ul.t_btn > li { margin:0px 0px 0px 4px; height:36px; line-height:36px; color:#ccc; font-size:14px; font-weight:bold; border-radius:30px; border:1px solid #e5e5e5; float:left; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > ul.t_btn > li img { padding:10px 10px; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > ul.t_btn > li.txt { padding:0px 20px; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > .no { position:relative; padding-left:60px; margin-top:100px; overflow:hidden; clear:both; color:#ccc; font-size:24px; font-weight:bold; font-family:"Nanumsquare"; }
.con_w .con03_w > ul.list > div.bottom_rolling_wrap > li > .txt_w > .no span.on { color:#446ef6; font-size:36px; font-weight:bold; 
}